<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>status</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">status</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-radio-group [(ngModel)]="status">
    <ion-item>
      <ion-label>Happy</ion-label>
      <ion-radio slot="end"value="happy"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>sad</ion-label>
      <ion-radio slot="end"value="sad"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>energetic</ion-label>
      <ion-radio slot="end"value="energetic"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Lazy</ion-label>
      <ion-radio slot="end"value="Lazy"></ion-radio>
    </ion-item>
  </ion-radio-group>
  </ion-list>
  <ion-button (click)="onButtonClick()">Save</ion-button>
</ion-content>
